@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--primary-color: #00b0ff;
	--font: 'Roboto Mono', monospace;
	--secondary-color: #cae0eb;
}

body {
	font-family: var(--font);
	text-align: center;
	background-color: var(--secondary-color);
}

h1 {
	color: var(--primary-color);
}

label {
	display: block;
	margin: 1rem;
}

input {
	display: block;
	font: var(--font);
	margin: auto;
	padding: 0.5rem;
	border-radius: 10px;
	outline: none;
	border: 2px solid var(--primary-color);
	background-color: var(--secondary-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.enter {
	margin: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	margin-bottom: 1rem;
}

.enter:hover {
	background-color: #0b6e9c;
}

.enter:active {
	background-color: var(--primary-color);
}

.button {
	margin: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	margin-bottom: 1rem;
}

.button:hover {
	background-color: #0b6e9c;
}

.button:active {
	background-color: var(--primary-color);
}

.button.button:focus-visible {
	outline: none;
}

table {
	margin: 1.5rem auto;
}

table,
th,
td {
	border: 2px solid var(--primary-color);
	border-collapse: collapse;
}

th {
	width: 130px;
}
td {
	width: 80px;
}

.cash-container {
	display: none;
}

.table-container {
	display: none;
}
